@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");

@reference "tailwindcss/theme";
  @theme {
    --color-portfolio-blue: #0442BF;
    --color-portfolio-antiblue: #d9c395;
    --color-portfolio-gray: #2c2e33;
    --color-portfolio-dark: #232833;
    --color-portfolio-text: #263C6A;
    --color-portfolio-black: #000000; 
    --color-portfolio-white: #ffffff;

    --font-martian-mono: "Martian Mono", sans-serif;

    --spacing-page-x: 1.5rem;
    --spacing-page-x-md: 2rem;
    --spacing-page-x-lg: 1rem;

    --spacing-section-y: 4rem;
    --spacing-section-y-md: 5rem;
    --spacing-section-y-lg: 6rem;
  }
  html {
    background-color: theme(--color-portfolio-white);
    overflow-x: hidden;
    @font-face {
      font-family: "Martian Mono", monospace;
      font-size: 14px;
    }
  }
  body {
    overflow-x: hidden;
  }
  h1{
    font-family: 'Martian Mono', monospace;
    font-size: 40px;
    color: theme(--color-portfolio-blue);
  }
  h2{
    font-family: 'Martian Mono', monospace;
    font-size: 32px;
    line-height: 28px;
  	color: theme(--color-portfolio-dark);
  }
  h3{
    font-family: 'Martian Mono', monospace;
    font-size: 28px;
  	color: theme(--color-portfolio-gray);
  }
  button{
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: theme(--color-portfolio-blue);
  }
  p{
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: theme(--color-portfolio-text);
  }

  button > p{
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: theme(--color-portfolio-blue);
  }
  .project-card > p{
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: theme(--color-portfolio-white);
  }
  p, label, input, textarea, a{
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: theme(--color-portfolio-text);
  }
  a{
    font-family: 'Martian Mono', monospace;
    font-size: 18px;
    color: theme(--color-portfolio-text);

  }

  @media (min-width: 786px) { /*ab lg*/
    h2 {
        line-height: 48px;
        font-size: 3rem;
    }
  } 
  